.cabecalho {
    color: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .5rem;
    position: absolute;
    
}
.cabecalho__logo{
    margin-bottom: 1rem;
}
.cabecalho__logo--simbolo {
    width: 100px;
    height: auto;
}

.cabecalho__logo--letra {
    padding-bottom: 10px;
    padding-left: 10px;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
    color:white;
    transition: 400ms;
    position:static;
}

.cabecalho__link:hover {
    transition: 400ms;
    color:#236418;
}

@media screen and (min-width: 1024px){
    .cabecalho {
        background-color: #ffffff49;
        flex-direction:  row;
        justify-content: space-between;
        border: none;
    }
}
