.cursos {
    background-image: url(../img/bg2.png);
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.cursos__titulo {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    font-family: var(--pixelado);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
}

.cursos__cartoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cartao {
    text-align: left;
    margin: 1rem 0;
    background-color: #FFFFFFBB;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 5px 10px #07224bBB;
}

.cartao__conteudo {
    color: black;
    max-width: 300px;
    width: 100%;
    line-height: 1.3;
    text-align: center;
}

.cartao__titulo{
    color: #004aad;
    font-weight: 700;
    font-size: 1.3rem;
    font-family: var(--pintado);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 0.5rem;
}

.cartao__img {
    display: none;
}
.cartao__img--games{
    width: auto;
    max-width: 313px;
    height: auto;
    max-height: 204px;

}

.cartao__img--apps{
    width: auto;
    max-width: 282px;
    height: auto;
    max-height: 240px;
}
.cartao__img--web{
    width: auto;
    max-width: 334px;
    height: auto;
    max-height: 246px;
}
.cartao__img--robotica{
    width: auto;
    max-width: 341px;
    height: auto;
    max-height: 278px;
}

@media screen and (min-width: 1024px) {
    .cursos__titulo{
        font-size: 3rem;
    }
    .cartao__img {
        display: block;
    }
    .cartao {
        display: flex;
        justify-content: space-between;
        padding-left: 7%;
        padding-right: 7%;
    }

    .cursos__cartoes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}